In [1]:
import pandas as pd


import matplotlib as plt
import numpy as np
import re
import math
import difflib
import os
import seaborn as sns
import matplotlib.pyplot as plt
#Extra
import jellyfish as jf
#from pandas_profiling import ProfileReport
import plotly.graph_objects as go
from matplotlib_venn import venn2
from matplotlib_venn import venn3
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [2]:
#Select the directory folder
os.chdir('/Users/p56739/Desktop/2022_SingaporeIreland/')
os.getcwd()
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
# Read the student responses into pandas dataframe
Read_excel = pd.read_excel('demo.xlsx',sheet_name=0)
pd.options.display.max_rows = 15
Teacher_name = Read_excel.loc[:,['Teacher']]
#fill all the NaN to 0 value
Teacher_name

          Teacher
0         Mr Chen
1         MS chua
2    Chan may lun
3         Ms Chua
4         Ms Chua
..            ...
159      Mr Duffy
160     Mr Clarke
161     Mr Clarke
162      Mr.Duffy
163     Mr Clarke

[164 rows x 1 columns]

In [4]:
pd.set_option('display.max_rows', Teacher_name.shape[0]-30)
Teacher_name['Teacher'].value_counts().to_frame()

                         Teacher
Ms Chua                       12
Ms Yu Qian                    12
Mr Ng Say Tiong                7
Mr Chen                        6
Ms Hogan                       6
Ms Chua Ee Ling                6
ms o leary                     6
Ms Lee                         5
Mr Duffy                       5
Ms Lee Wing Kei Joyce          5
Ms Lang Fui Ying               5
Mr Clarke                      4
Lang Fui Ying                  4
Ng Say Tiong                   4
Yu Qian                        3
Mr Chen                        3
Dr Chia KP                     3
Dr ChiaKP                      2
Ms Yu                          2
Lee Wing Kei Joyce             2
Ms O'Leary                     2
Mr Chen Zenghui                2
Mrs O'Leary                    2
ms o'leary                     2
Antje Hogan                    2
Dr Chia Kok Pin                2
ms.Hogan                       2
Ms Lang                        2
Mr.Clarke                      2
Ms.Hogan                       2
Lee Wing Kai Joyce             1
 Lang Fui Ying                 1
Miss Lee Wing Kei Joyce        1
Tracey O leary                 1
Mr Lee Yung Hei                1
Ms Lee Wing Kai Joyce          1
Mr Ng                          1
YU QIAN                        1
Mr Ng Say Tiang                1
Ms Eileen Tan                  1
Ms Li                          1
Mr. Clarke                     1
Mrs O'leary                    1
Ms. O' Leary                   1
Tracy O Leary                  1
Mrs.O'Leary                    1
Chan may lun                   1
Chia Kok Pin                   1
Dr Chia kp                     1
Mr Yeong Chan Kong             1
Mr. Chen Zenghui               1
Dr Chia                        1
Miss Chua                      1
ChiaKP                         1
Chua                           1
Ms Chua ee ling                1
Chia kok pin                   1
Chia kp                        1
Mr ChiaKP                      1
mr chen                        1
Chia KP                        1
mrs hogan                      1
ms hogan                       1
ms.hogan                       1
Mrs.Hogan                      1
ms Hogan                       1
miss oleary                    1
Ms O' Leary                    1
MS chua                        1
Ms o'leary                     1
ms o leary                     1
Mr.Duffy                       1

In [5]:
# Read the Expected_data.xlsx responses into pandas dataframe
Teacher_Student = pd.read_excel('2_processed/4_Teacher_Student.xlsx',sheet_name=0,engine='openpyxl')
Teacher_Student.Name.unique()

array([nan, 'Chan May Lun', 'Chia K.P.', 'L', 'Mario', 'marta-singapore',
       'Mister APplegate', 'Mr Chen', 'mrs hogan', "Mrs O'Leary",
       'Ms Chua', 'ms lang', 'Ms Ng', 'Shieh Le Shiang', 'Testing'],
      dtype=object)

In [6]:
#data1 =  {'A':['Ms Chua','Ms Noone','Ms Yu Qian','Mr Chen','Mr Ng Say Tiong','H. Halfmouw','Ms Hogan','Ms Hogan','Mrs O Leary','S. Hâˆšâˆ‚lscher']}
#df1 = pd.DataFrame(data1)

In [7]:
#Teacher_name['Teacher_Real'] = df1['A']
#Teacher_name
#Teacher_name['Teacher'] = Teacher_name['Teacher'].fillna('')
#Teacher_name['Teacher_Real'] = Teacher_name['Teacher_Real'].fillna('')
#Teacher_name

In [8]:
#Teacher_name['Teacher']= Teacher_name.iloc[0:50,'Teacher']

In [9]:
# creating the dictionaries

dict2 = {'Real_teacher':['Ms Chua','Chia','Ms Noone','Ms Yu Qian','Mr Chen','Mr Ng Say Tiong','H. Halfmouw','Ms Hogan','Mrs O Leary','S. Hâˆšâˆ‚lscher', 'Ms Lee Wing','Clarke','Duffy','Lang Fui Ying']}

# converting to pandas dataframes
#dframe1['Teacher'] = Teacher_name['Teacher']
dframe2 = pd.DataFrame(dict2)

# empty lists for storing the matches
# later
mat1 = []
mat2 = []
p = []

# printing the pandas dataframes
print("First dataframe:\n", Teacher_name,
	"\nSecond dataframe:\n", dframe2)

# converting dataframe column
# to list of elements
# to do fuzzy matching
list1 = Teacher_name['Teacher'].tolist()
list2 = dframe2['Real_teacher'].tolist()

First dataframe:
           Teacher
0         Mr Chen
1         MS chua
2    Chan may lun
3         Ms Chua
4         Ms Chua
..            ...
159      Mr Duffy
160     Mr Clarke
161     Mr Clarke
162      Mr.Duffy
163     Mr Clarke

[164 rows x 1 columns]
Second dataframe:
        Real_teacher
0           Ms Chua
1              Chia
2          Ms Noone
3        Ms Yu Qian
4           Mr Chen
5   Mr Ng Say Tiong
6       H. Halfmouw
7          Ms Hogan
8       Mrs O Leary
9      S. Hâˆšâˆ‚lscher
10      Ms Lee Wing
11           Clarke
12            Duffy
13    Lang Fui Ying

In [10]:
# taking the threshold as 80
threshold = 70

# iterating through list1 to extract
# it's closest match from list2
for i in list1:
	mat1.append(process.extractOne(
	i, list2, scorer=fuzz.token_set_ratio))
Teacher_name['matches'] = mat1

# iterating through the closest matches
# to filter out the maximum closest match
for j in Teacher_name['matches']:
	if j[1] >= threshold:
		p.append(j[0])
	mat2.append(",".join(p))
	p = []


# storing the resultant matches back
# to dframe1
Teacher_name['matches'] = mat2
print("\nDataFrame after Fuzzy matching using token_set_ratio():")
pd.set_option('display.max_rows', Teacher_name.shape[0]-30)
Teacher_name

DataFrame after Fuzzy matching using token_set_ratio():

          Teacher  matches
0         Mr Chen  Mr Chen
1         MS chua  Ms Chua
2    Chan may lun
3         Ms Chua  Ms Chua
4         Ms Chua  Ms Chua
..            ...      ...
159      Mr Duffy    Duffy
160     Mr Clarke   Clarke
161     Mr Clarke   Clarke
162      Mr.Duffy    Duffy
163     Mr Clarke   Clarke

[164 rows x 2 columns]

In [11]:
print(Teacher_name.to_string())
#Teacher_name['Result'] = Teacher_name['Teacher'].apply(lambda x: difflib.get_close_matches(x, Teacher_name['Teacher_Real'])[0])

                     Teacher          matches
0                    Mr Chen          Mr Chen
1                    MS chua          Ms Chua
2               Chan may lun
3                    Ms Chua          Ms Chua
4                    Ms Chua          Ms Chua
5               Chia Kok Pin             Chia
6            Ms Chua Ee Ling          Ms Chua
7                 Dr Chia kp             Chia
8            Dr Chia Kok Pin             Chia
9         Mr Yeong Chan Kong
10          Mr. Chen Zenghui          Mr Chen
11                   Ms Chua          Ms Chua
12                  Dr Chia              Chia
13                Dr Chia KP             Chia
14                   Ms Chua          Ms Chua
15                 Miss Chua          Ms Chua
16                    ChiaKP             Chia
17           Ms Chua Ee Ling          Ms Chua
18           Mr Chen Zenghui          Mr Chen
19                   Mr Chen          Mr Chen
20                  Mr Chen           Mr Chen
21                   Ms Chua          Ms Chua
22           Ms Chua Ee Ling          Ms Chua
23                  Mr Chen           Mr Chen
24                Dr Chia KP             Chia
25                   Ms Chua          Ms Chua
26           Ms Chua Ee Ling          Ms Chua
27                Dr Chia KP             Chia
28                   Ms Chua          Ms Chua
29                   Mr Chen          Mr Chen
30                 Dr ChiaKP
31                      Chua          Ms Chua
32           Mr Chen Zenghui          Mr Chen
33                   Mr Chen          Mr Chen
34           Ms Chua ee ling          Ms Chua
35              Chia kok pin             Chia
36           Dr Chia Kok Pin             Chia
37                   Ms Chua          Ms Chua
38                   Ms Chua          Ms Chua
39                   Ms Chua          Ms Chua
40                   Mr Chen          Mr Chen
41                   Mr Chen          Mr Chen
42           Ms Chua Ee Ling          Ms Chua
43                   Ms Chua          Ms Chua
44                   Chia kp             Chia
45                 Mr ChiaKP
46                  Mr Chen           Mr Chen
47                 Dr ChiaKP
48                   mr chen          Mr Chen
49                   Ms Chua          Ms Chua
50                   Chia KP             Chia
51           Ms Chua Ee Ling          Ms Chua
52                 mrs hogan         Ms Hogan
53               Antje Hogan         Ms Hogan
54                  ms hogan         Ms Hogan
55                  ms.Hogan         Ms Hogan
56                  ms.hogan         Ms Hogan
57               Antje Hogan         Ms Hogan
58                  Ms Hogan         Ms Hogan
59                  Ms Hogan         Ms Hogan
60                  Ms Hogan         Ms Hogan
61                  Ms.Hogan         Ms Hogan
62                 Mrs.Hogan         Ms Hogan
63                  ms Hogan         Ms Hogan
64                  ms.Hogan         Ms Hogan
65                  Ms Hogan         Ms Hogan
66               miss oleary
67                Ms O'Leary      Mrs O Leary
68               Ms O' Leary      Mrs O Leary
69              Ms. O' Leary      Mrs O Leary
70                Ms o'leary      Mrs O Leary
71               Mrs O'Leary      Mrs O Leary
72               ms o leary       Mrs O Leary
73                ms o leary      Mrs O Leary
74                ms o leary      Mrs O Leary
75                ms o leary      Mrs O Leary
76                ms o'leary      Mrs O Leary
77               Mrs.O'Leary      Mrs O Leary
78                  Ms Hogan         Ms Hogan
79                  Ms Hogan         Ms Hogan
80                ms o'leary      Mrs O Leary
81                ms o leary      Mrs O Leary
82             Tracy O Leary      Mrs O Leary
83            Tracey O leary      Mrs O Leary
84                ms o leary      Mrs O Leary
85               Mrs O'leary      Mrs O Leary
86               Mrs O'Leary      Mrs O Leary
87                ms o leary      Mrs O Leary
88                Ms O'Leary      Mrs O Leary
89                  Ms.Hogan         Ms Hogan
90             Lang Fui Ying    Lang Fui Ying
91     Ms Lee Wing Kei Joyce      Ms Lee Wing
92                    Ms Lee      Ms Lee Wing
93     Ms Lee Wing Kei Joyce      Ms Lee Wing
94     Ms Lee Wing Kei Joyce      Ms Lee Wing
95        Lee Wing Kai Joyce      Ms Lee Wing
96                    Ms Lee      Ms Lee Wing
97                    Ms Lee      Ms Lee Wing
98          Ms Lang Fui Ying    Lang Fui Ying
99     Ms Lee Wing Kei Joyce      Ms Lee Wing
100       Lee Wing Kei Joyce      Ms Lee Wing
101    Ms Lee Wing Kei Joyce      Ms Lee Wing
102  Miss Lee Wing Kei Joyce      Ms Lee Wing
103                  Ms Lang    Lang Fui Ying
104               Ms Yu Qian       Ms Yu Qian
105               Ms Yu Qian       Ms Yu Qian
106                  Yu Qian       Ms Yu Qian
107                   Ms Lee      Ms Lee Wing
108       Lee Wing Kei Joyce      Ms Lee Wing
109             Ng Say Tiong  Mr Ng Say Tiong
110         Ms Lang Fui Ying    Lang Fui Ying
111          Mr Ng Say Tiong  Mr Ng Say Tiong
112               Ms Yu Qian       Ms Yu Qian
113               Ms Yu Qian       Ms Yu Qian
114          Mr Ng Say Tiong  Mr Ng Say Tiong
115            Lang Fui Ying    Lang Fui Ying
116               Ms Yu Qian       Ms Yu Qian
117          Mr Ng Say Tiong  Mr Ng Say Tiong
118               Ms Yu Qian       Ms Yu Qian
119          Mr Lee Yung Hei
120    Ms Lee Wing Kai Joyce      Ms Lee Wing
121          Mr Ng Say Tiong  Mr Ng Say Tiong
122             Ng Say Tiong  Mr Ng Say Tiong
123                   Ms Lee      Ms Lee Wing
124         Ms Lang Fui Ying    Lang Fui Ying
125                    Mr Ng  Mr Ng Say Tiong
126                    Ms Yu       Ms Yu Qian
127          Mr Ng Say Tiong  Mr Ng Say Tiong
128               Ms Yu Qian       Ms Yu Qian
129               Ms Yu Qian       Ms Yu Qian
130                  YU QIAN       Ms Yu Qian
131             Ng Say Tiong  Mr Ng Say Tiong
132             Ng Say Tiong  Mr Ng Say Tiong
133               Ms Yu Qian       Ms Yu Qian
134          Mr Ng Say Tiang  Mr Ng Say Tiong
135            Lang Fui Ying    Lang Fui Ying
136            Lang Fui Ying    Lang Fui Ying
137            Lang Fui Ying    Lang Fui Ying
138          Mr Ng Say Tiong  Mr Ng Say Tiong
139                  Yu Qian       Ms Yu Qian
140                  Ms Lang    Lang Fui Ying
141            Ms Eileen Tan
142               Ms Yu Qian       Ms Yu Qian
143               Ms Yu Qian       Ms Yu Qian
144               Ms Yu Qian       Ms Yu Qian
145                  Yu Qian       Ms Yu Qian
146         Ms Lang Fui Ying    Lang Fui Ying
147          Mr Ng Say Tiong  Mr Ng Say Tiong
148         Ms Lang Fui Ying    Lang Fui Ying
149                    Ms Li
150                    Ms Yu       Ms Yu Qian
151               Mr. Clarke           Clarke
152                 Mr Duffy            Duffy
153                Mr.Clarke           Clarke
154                Mr Clarke           Clarke
155                Mr.Clarke           Clarke
156                 Mr Duffy            Duffy
157                 Mr Duffy            Duffy
158                 Mr Duffy            Duffy
159                 Mr Duffy            Duffy
160                Mr Clarke           Clarke
161                Mr Clarke           Clarke
162                 Mr.Duffy            Duffy
163                Mr Clarke           Clarke

In [12]:
#Teacher_name['matches'].value_counts().to_frame()
Teacher_name

          Teacher  matches
0         Mr Chen  Mr Chen
1         MS chua  Ms Chua
2    Chan may lun
3         Ms Chua  Ms Chua
4         Ms Chua  Ms Chua
..            ...      ...
159      Mr Duffy    Duffy
160     Mr Clarke   Clarke
161     Mr Clarke   Clarke
162      Mr.Duffy    Duffy
163     Mr Clarke   Clarke

[164 rows x 2 columns]

In [13]:
null_session_type = Teacher_name['matches']==''
Teacher_name.loc[null_session_type,'matches'] = Teacher_name['Teacher']
#Teacher_name.matches.fillna(Teacher_name.Teacher, inplace=True)
#print(Teacher_name.to_string())

#Teacher_name.matches.unique()
Teacher_name['matches'] = Teacher_name['matches'].str.replace('Dr ChiaKP','Chia')
Teacher_name['matches'] = Teacher_name['matches'].str.replace('Mr ChiaKP','Chia')
Teacher_name['matches'] = Teacher_name['matches'].str.replace('miss oleary','Mrs O Leary')
Teacher_name['matches'].value_counts().to_frame()

                    matches
Ms Chua                  22
Mrs O Leary              21
Ms Yu Qian               18
Ms Hogan                 17
Chia                     15
Ms Lee Wing              15
Mr Chen                  13
Mr Ng Say Tiong          13
Lang Fui Ying            12
Clarke                    7
Duffy                     6
Chan may lun              1
Mr Yeong Chan Kong        1
Mr Lee Yung Hei           1
Ms Eileen Tan             1
Ms Li                     1